<div>
  <h4>{{question.title}}</h4>
  <h5>{{question.question}}</h5>
<ul class="list-group">
  <li class="list-group-item">
    <label>
      <input type="radio"
             value="true"
             [(ngModel)]="answer"

             name="{{question._id}}"/> True
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="radio"
             value="false"
             [(ngModel)]="answer"

             name="{{question._id}}"/> False
    </label>
  </li>
</ul>

  <br/>
  Your answer: {{answer}}
  <br/>
  <span [hidden]="true">Correct answer:{{question.correct}} </span>
  <br/>
  <span [hidden]="(grading && answer === question.correct) || grading === false">Answer is wrong</span>

  <button (click)="grade()">Grade</button>

</div>
